.ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
}
.li {
  box-sizing: border-box;
  padding: 0.2em;
  margin-left: 0.5em;
}
.li:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.name {
  font-size: 1.5em;
}
.bodyPart {
  font-size: 1em;
  color: grey;
}
