.nav {
  position: fixed;
  width: 80%;
  bottom: 0;
  margin: 0;
}
.nav ul {
  width: 100%;
  display: flex;
  /* background-color: pink; */
}

.nav ul li {
  display: flex;
  flex: 1;
  border-style: solid;
  border-radius: 2px;
  border-color: black;
}

.nav a {
  text-decoration: none;
  color: black;
  width: 100%;
  text-align: center;
  font-weight: 600;

  height: 2em;
  padding: 0.5em 0.5em;
  font-size: 1em;
}

@media only screen and (min-width: 700px) {
  .nav {
    width: 70%;
  }
  .nav a {
    height: 2em;
    padding: 0.5em 0.5em;
    font-size: 1.5em;
  }
}

.nav a:global(.active) {
  background-color: #b9f2ff;
}
