.nav {
  position: fixed;
  width: 80%;
  bottom: 0;
  margin: 0;
}

@media only screen and (min-width: 700px) {
  .nav {
    width: 70%;
  }
}

.nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* background-color: pink; */
}

.nav ul li {
  display: flex;
  flex: 1;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: inherit;
  width: 100%;
  border-style: solid;
  border-radius: 2px;
  border-color: black;
  padding: 0.2em 0.5em;
  text-align: center;
}

.nav a:global(.active) {
  background-color: #b9f2ff;
}
