* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

main {
  margin: 0 10%;
  margin-top: 0.5em;
  border-style: solid;
}

@media only screen and (min-width: 700px) {
  main {
    margin: 0 15%;
    margin-top: 2em;
  }
}
